/** #### Loader #### **/
      .overlay {
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          position: fixed;
          background: #000;
          z-index: 99999;
          opacity: 0.85;
      }
      .overlay__inner {
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          position: absolute;
      }
      .overlay__content {
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
      }
      .loader {
          width: 48px;
          height: 48px;
          display: inline-block;
          position: relative;
          border: 3px solid;
          border-color:#0f0 #0000 #00FFFF #0000;
          border-radius: 50%;
          box-sizing: border-box;
          animation: 1s rotate linear infinite;
      }
      .loader:before , .loader:after{
          content: '';
          top: 0;
          left: 0;
          position: absolute;
          border: 10px solid transparent;
          border-bottom-color:#00FFFF;
          transform: translate(-10px, 19px) rotate(-35deg);
      }
      .loader:after {
          border-color: #0f0 #0000 #0000 #0000 ;
          transform: translate(32px, 3px) rotate(-35deg);
      }
      @keyframes rotate {
          100%{transform: rotate(360deg)}
      }
.bg-primary {
    background-color: #0d6efd!important;
}
.bg-footer {
    background-color: #0d6efd!important;
}
      
